<html>
    <head>
        <title>Calculator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    </head>
    <body>
        <h1>Calculator</h1>
        <form>
            <p>Enter Two Numbers:</p>
            <input type="text" name='num1' value={{ n[0] }} />
            <input type="text" name='num2' value={{ n[1] }} />
        </form>
        {% for n in ['Add', 'Subtract', 'Divide', 'Multiply'] %}
        <button id={{ n }}>{{ n }}</button>
        {% endfor %}
        <p id="result" style="font-weight: bold;"></p>
        <p id="error" style="color:red; font-weight: bold"></p>
        <script src="/static/ajax.js"></script>
    </body>
</html>